body {
  background-image: url("Images/inverted-linear-illustration-of-geometric-shapes-vector.webp");
  background-repeat: repeat;
  background-size: 35em;
  background-color: black;
  margin: 0;
}

#gridLayout{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 275px 80px 1fr;

  grid-template-areas: "logoContainer"
                       "navContainer"
                       "mainContent";
}

#logoContainer {
  grid-area: logoContainer;
  display: grid;
  justify-content: center;
}

#logoStyle {
  width: 10em;
  justify-self: center;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  color: white;
}

.navBar {
  display: flex;
  justify-content: center;
  gap: 1em;
}

#listNav {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

#textSetup {
  font-size: 22px;
  color: rgb(206, 206, 206);
}
#mainContent-index{
  margin: 1em 0em 0em 0em;
  grid-area: mainContent;
  display: grid;
  justify-content: center;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas: 
                        "title1   title2"
                        "project1  project2"
                        "title3   title4"
                        "project3  project4";
}

#mainContent-aboutMe{
  grid-area: mainContent;
  display: grid;
  text-align: center;
  justify-self: center;
  justify-content: center;
  grid-template-columns: 1;
  grid-template-rows: 2;
  padding: 2em;
  width: 70em;
  background-color: rgb(46, 51, 61);
  border-style: inset;
  border-width: 0.2em;
  border-color: rgb(255, 195, 66);
  border-radius: 10px;
}

.projectBox {
  font-size: 1.2em;
  color: rgb(206, 206, 206);
  background-color: rgb(46, 51, 61);
  text-align: center;
  width: 30em;
  padding: 1em;
  justify-content: center;
  align-content: center;
}

.projectBox-title {
  font-size: 1.2em;
  font-weight: 500;
  color: #121316;
  background-color: rgb(255, 195, 66);
  border-style: solid;
  border-width: 0.1em;
  border-color: rgb(255, 195, 66);
  text-align: center;
  align-content: center;
  height: 2em;
  padding-top: 1em;
}

.projectImage {
  width: 25em;
}

#footer {
  background-color: #121316;
  color: rgb(68, 74, 87);
  margin-top: 25vh;
  padding: 30px 0px;
  width: 100%;
  border-top: 1px solid rgb(38, 52, 75);
  text-align: center;
}

a:link {
  color: #e2e2e2;
  text-decoration: none;
}
a:visited {
  color: #e2e2e2;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
a:active {
  color: white;
  text-decoration: none;
}

/* Add a hover effect (yellow shadow)*/
.projectImage:hover {
  box-shadow: 0 0 10px 1px rgb(255, 217, 0);
  cursor: pointer;
  transition: .5s;
}
