body {
  background-image: url("Images/inverted-linear-illustration-of-geometric-shapes-vector.webp");
  background-repeat: repeat;
  background-size: 35em;
  background-color: black;
  margin: 0;
}

.current {
    color: green;
}
